<tr id = <%= "#{aircond.id}"%> class = aircond>
	<td><%=aircond.id%></td>
	<td><%=aircond.alias%></td>
	<td class = "ac_status" id = <%="#{aircond.alias}"%>></td>
	<td class = "ac_mode"></td>
	<td class = "ac_fan_speed"></td>
	<td class = "ac_temperature"></td>		

</tr>
