<div class="col-sm-8" style='border-style: solid; padding: 20px'>
  <div class = 'col-sm-7' >
    <%= form_for @aircond, html:{id:'edit_aircond_settings'} do |form|%>
      <%= render partial: 'form', object:form%>
    <%end%>
  </div>

    <div class = 'col-sm-5'></div>	

  <div>
  	<%= flash[:warning]%>
  	<%= flash[:notice]%>
  	<p  id = notification></p>
  </div>
</div>