// Place all the styles related to the airconds/ controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.layout{
  position:relative;
  display: none;
  padding: 30px;
  border-style: dotted;
  height: auto; 
}

.layout_tile{
  position: relative;
  height:50px;
  width:100px;
  background:white;
  border-style: solid 
}

.right_align{
  float : right;
}

#edit_aircond_settings{
  font-size : 25px;
}

tr.aircond{
  border : 2px;
  height :40px;
  font-size : 20px;
  margin-top: 10px;
}

.shadow {
  -webkit-box-shadow: 3px 3px 4px 5px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 4px 5px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 4px 5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}