<div style = 'clear:both'></div>


<%= select_tag 'location', options_for_select(['AG7','AG8_top','AG8_btm','AG1_11'])%>

<div class = 'layout' id= 'AG7'>
AG7
</div>
<div class = 'layout' id= 'AG8_top'>
AG8 Top
  <div class = 'layout_tile' id= 'AG8_top_1' style= ' '>
    AG8-1
  </div>
  <div class = 'layout_tile' id= 'AG8_top_2' style= ''>
    AG8-2
  </div>
  <div class = 'layout_tile' id= 'AG8_top_3' style= ' '>
    AG8-3
  </div>
  <div class = 'layout_tile' id= 'AG8_top_4' style= ' ;'>
    AG8-4
  </div>
  <div class = 'layout_tile' id= 'AG8_top_5' style= ' '>
    AG8-5
  </div>
</div>
<div class = 'layout' id= 'AG8_btm'>
AG8 Bottom

</div>
<div class = 'layout' id= 'AG1_11'>
AG1-11

</div>