// Place all the styles related to the airconds/ controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.layout{
  position:relative;
  display: none;
  padding: 30px;
  border-style: dotted;
  height: auto; 
}

.layout_tile{
  position: relative;
  height:50px;
  width:100px;
  background:white;
  border-style: solid 
}

.right_align{
  float : right;
}

#edit_aircond_settings{
  font-size : 25px;
}