<nav class="navbar next-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=<%=root_path%>><img class= resize src="http://nextacademy.com/img/nav-logo.png"></a>
    </div>
     <ul class="nav navbar-nav navbar-left"> 
     <li>
       <a href=<%=root_path%>>Aircons</a>
     </li>
     </ul>  
    <ul class="nav navbar-nav navbar-right">
	    <%if signed_in?%>
	    	<li><a href=<%=sign_out_path%> data-method= delete ><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
	    <%else%>
	      <li><a href=<%=sign_in_path%>><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
    	<%end%>
    </ul>
  </div>
</nav>