<!DOCTYPE html>
<html>
  <head>
    <title>ProjectHoustonServer</title>
    <%= csrf_meta_tags %>
    <script src="https://www.gstatic.com/firebasejs/3.6.5/firebase.js"></script>
    <script>
      var config = {
        databaseURL: "https://nextaircon-6d849.firebaseio.com",
      };
      firebase.initializeApp(config);
    </script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>	
      
  </head>

  <body >
  	<%# render '/layouts/navbar'%>
    <%= yield %>
  </body>
</html>
